<div class="min-vh-100 bg-color pb-4">
    <app-header-main></app-header-main>
    <div class="container">
        <app-header-child></app-header-child>
        <div class="card border-0 shadow-sm">
            <div class="car-body py-4 px-3">
                <div class="row">
                    <h5 class="fw-bold mb-4">Dashboard</h5>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-start my-1">
                        <div class="w-100 card bg-light align-items-center text-center p-5">
                            <img class="mb-2" src="./assets/images/icon_total_groups.png" width="50"><br>
                            <h6 class="text-primary fw-semibold">Total Groups</h6><br>
                            <h1 class="text-muted fw-bold">{{ totalGroup }}</h1>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-end my-1">
                        <div class="w-100 card bg-light align-items-center text-center p-5">
                            <img class="mb-2" src="./assets/images/icon_total_employees.png" width="50"><br>
                            <h6 class="text-primary fw-semibold">Total Employees</h6><br>
                            <h1 class="text-muted fw-bold">{{ totalEmployee }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer border-0 text-center text-muted fw-lighter">
                <small>Employee Management</small>
            </div>
        </div>
    </div>
</div>
