<div class="min-vh-100 bg-color d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 mx-auto">
                <div class="text-center mb-3">
                    <img src="./assets/images/icon_lock.png" width="80">
                </div>
                <div class="card border-0 shadow-sm">
                    <div class="card-body px-md-4 px-lg-4 px-xl-4">
                        <div class="text-center text-primary fs-5 fw-bold mt-3">Admin Login</div>
                        <div class="text-center text-muted mb-5"><small>enter your username and password</small></div>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="mb-3">
                                <input type="text" class="form-control shadow-none" formControlName="username" placeholder="Username" 
                                        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                    <div *ngIf="f['username'].errors['required']"><small>Username is required.</small></div>
                                    <div *ngIf="f['username'].errors['minlength']"><small>Username must be at least 5 characters.</small></div>
                                    <div *ngIf="f['username'].errors['maxlength']"><small>Username must not exceed 20 characters.</small></div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <input type="password" class="form-control shadow-none" formControlName="password" placeholder="Password"
                                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']"><small>Password is required.</small></div>
                                    <div *ngIf="f['password'].errors['minlength']"><small>Password must be at least 5 characters.</small></div>
                                    <div *ngIf="f['password'].errors['maxlength']"><small>Password must not exceed 20 characters.</small></div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-secondary shadow-none w-100 fw-bold">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer border-0 text-center text-muted fw-lighter">
                        <small>Employee Management</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
