<header class="bg-dark text-white mb-4 py-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="" class="d-flex align-items-center text-white text-decoration-none my-2 my-lg-0 me-lg-auto">
                <img src="./assets/images/icon_employee.png" width="30">
            </a>
            <ul class="col-12 col-lg-auto nav justify-content-center my-2 my-md-0">
                <li>
                    <a [routerLink]="'/home'" class="nav-link text-white"><small><i class="bi bi-house-fill"></i> Home</small></a>
                </li>
                <li>
                    <a [routerLink]="'/group-list'" class="nav-link text-white"><small><i class="bi bi-people-fill"></i> Group</small></a>
                </li>
                <li>
                    <a [routerLink]="'/employee-list'" class="nav-link text-white"><small><i class="bi bi-person-fill"></i> Employee</small></a>
                </li>
            </ul>
        </div>
    </div>
</header>
